main {
  display: flex;
  justify-content: center;
  gap: 5rem;
  padding: 5rem;
}

#left {
  border: 2px solid red;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#right {
  border: 2px solid green;
  min-width: 10rem;
}

button {
  width: 100px;
}

#createAuctionForm {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.hide {
  display: none !important;
}

/* Auction Feed */
.auction {
  padding: 5px;
  border: 2px dotted blue;
}
